@model List<RoomGetDto>
@{
    ViewData["Title"] = "Room Details Page";
}

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Our Rooms</h2>
                    <div class="bt-option">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                        <span>Rooms</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Room Details Section Begin -->
@foreach (var item in Model)
{
    <section class="room-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="room-details-item">
                        <img src="~/assets/img/@item.ImageName" style="width:800px; height:400px;" alt="">
                        <div class="rd-text">
                            <div class="rd-title">
                                <h3>@item.Title</h3>
                                <div class="rdt-right">
                                    <a asp-action="Create" asp-controller="Reservation">Booking Now</a>
                                </div>
                            </div>
                            <h2>@item.Price$<span>/Pernight</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>@item.Size m²</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max persion @item.Capacity</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td>@item.BedType</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>@item.Services</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="f-para">@item.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </section>
}
<!-- Room Details Section End -->